<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">850814</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/myhelp</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping class="com.myHelp.domain.User" />
        <mapping class="com.myHelp.domain.Employee" />
        <mapping class="com.myHelp.domain.History" />
        <mapping class="com.myHelp.domain.Ticket" />
		<mapping class="com.myHelp.domain.TicketCategory" />
    </session-factory>
</hibernate-configuration>
